<h1><span>Student Placement InfoSystem</span></h1>

<div class='tabs' style="text-align:left" >

<button class="btn" mat-button (click)='homeMenu()'><mat-icon  >home</mat-icon> Home</button>
<button class="btn" style="margin-left: 5em" mat-button (click)='aboutUs()'>About Us</button>
<button class="btn" style="margin-left: 5em" mat-button (click)='contactUs()'>Contact Us</button>
<button class="btn" style="margin-left: 5em" mat-button (click)='f
eedBack()'>FeedBack hello</button>

</div>
 <!-- style="margin-left: 5em" -->