 div{
     background-color: rgb(141, 82, 235);
   }
  
//   .tablelogin{
//     border:1px solid;
//     position: absolute;
//     top:150px;
//     left:400px;
//     border-spacing:15px;
//   }
    
.top{
  width: 100%;
  margin-left: 0px;
}
