<div class="row top " style="background-color:rgb(255, 255, 255)">
    
    <div class="col-12 contactus-box" id="form-wrapper">
        <table border="1" cellpadding="15" cellspacing="8"
            style=" text-align:left; line-height:20px;  border-color: Silver; border-width:1px; " width="100%;" >
            <tbody>
                <tr>
                    <td colspan="2"
                        style="background-color:rgb(33, 117, 156); border-color: Silver; border-width:1px; height: 27px;"
                        align="center">
                        <span id="ctl00_ContentPlaceHolder1_Label2" style="color:White;font-weight:bold;">Bengaluru</span>
                    </td>
                </tr>
                <tr>
                    <td style="border-color: Silver; border-width:1px;">
                        <b>Project Name</b>
                    </td>
                    <td style="border-color: Silver; border-width:1px;">
                            Student Placement Infosystem
                    </td>
                </tr>
                <tr>
                    <td style="border-color: Silver; border-width:1px;">
                        <b>Address</b>
                    </td>
                    <td style="border-color: Silver; border-width:1px;">
                            C-DAC ACTS Knowledge Park, Sadanandanagar, 
                             Bennigana Halli, Bengaluru,
                        <br>Karnataka-560038
                    </td>
                </tr>
                <tr>
                    <td style="border-color: Silver; border-width:1px;">
                        <b>Telephone</b>
                    </td>
                    <td style="border-color: Silver; border-width:1px;">
                            +918439020940</td>
                </tr>
                
                <tr>
                    <td style="border-color: Silver; border-width:1px;">
                        <b>e-Mail</b>
                    </td>
                    <td style="border-color: Silver; border-width:1px;">
                        admiralaviral@gmail.com
                    </td>
                </tr>
                <tr>
                    <td style="border-color: Silver; border-width:1px;">
                        <b>Website</b>
                    </td>
                    <td style="border-color: Silver; border-width:1px;">
                        <a href="http://acts.cdac.in" style="border-color: Silver; border-width:1px;"
                            target="_blank">https://cdac.in</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>