<div class="row top" style="background-color:rgb(255, 255, 255)">
    <div class="col-12 aboutus-box" id="form-wrapper">
      <table border="1" cellpadding="20" cellspacing="8"
      style=" text-align:left; line-height:20px;  border-color: Silver; border-width:1px; " width="100%;" >
      <tbody>
          <tr>
              <td colspan="2"
                  style="background-color:rgb(33, 117, 156); border-color: Silver; border-width:1px; height: 27px;"
                  align="center">
                  <span id="ctl00_ContentPlaceHolder1_Label2" style="color:White;font-weight:bold;">Project Developers</span>
              </td>
          </tr>
          <tr>
              <td style="border-color: Silver; border-width:1px;">
                  <b>Alok Singh</b>
              </td>
              <td style="border-color: Silver; border-width:1px;">
                      B.Tech(), PG-DAC(CDAC)
              </td>
          </tr>
          <tr>
              <td style="border-color: Silver; border-width:1px;">
                  <b>Aviral Singh</b>
              </td>
              <td style="border-color: Silver; border-width:1px;">
                  B.Tech(E.C), PG-DAC(CDAC)
              </td>
          </tr>
          <tr>
              <td style="border-color: Silver; border-width:1px;">
                  <b>Nitish Sinha</b>
              </td>
              <td style="border-color: Silver; border-width:1px;">
                  B.Tech(), PG-DAC(CDAC)</td>
          </tr>
          
          <tr>
              <td style="border-color: Silver; border-width:1px;">
                  <b>Rohit Singh</b>
              </td>
              <td style="border-color: Silver; border-width:1px;">
                  MCA, PG-DAC(CDAC)
              </td>
          </tr>
          <tr>
              <td style="border-color: Silver; border-width:1px;">
                  <b>Saurabh Saini</b>
              </td>
              <td style="border-color: Silver; border-width:1px;">
                  B.Tech(IT), PG-DAC(CDAC)
              </td>
          </tr>
      </tbody>
  </table>
  </div>
  </div>
  