<div class="row top" style="height: 100%">
  <div class="col-3" style="background-color:rgb(248, 249, 250)">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="username" value="admin" checked>
        <label class="form-check-label" for="admin">
          Admin
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="username" value="student">
        <label class="form-check-label" for="student">
          Student
        </label>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label for="userId">User ID</label>
        <input type="text" class="form-control" placeholder="Enter username" formControlName="userId"
          [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" />
        <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
          <div *ngIf="f.userId.errors.required">UserId is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        </div>
        <button [disabled]="loading" type="submit" class="btn btn-primary btn-lg btn-block" >
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </form>
    <br>
    <p class="cus">&nbsp;&nbsp;&nbsp;Contact Us</p>
    <h6 style="font-weight:bold">C-DAC ACTS</h6> Knowledge Park,
    Sadanandanagar, Bennigana Halli, Bengaluru<br>
    Karnataka-560038<br><br>
    <p>Phone +918303087988<br>
      Email- rohitsingh.mca12@gmail.com
  </div>
  <div class="col-6" style="height: auto" style="background-color: rgb(247, 248, 247)">
    
</div>

  <div class="col-3" style="background-color: rgb(250, 250, 248)">
    <div class="p-3 text-justify text-secondary ">
      <br> You have power over your mind – not outside events.
      Realize this, and you will find strength.
      <p> ~ Marcus Aurelius </p>
      <br> The weak can never forgive.Forgiveness is the attribute of the strong.
      <p> ~ Mahatma Gandhi </p>
      <br>All that we are is the result of what we have thought.
      <p> ~ Buddha </p>
      <br>It always seems impossible until it’s done.
      <p> ~ Nelson Mandela </p>

    </div>
  </div>

  