

.top{
  width: 100%;
  min-height: 90vh;
  height: auto;
  margin-left: 0px;
}
.cus
{
  border-radius: 20px 0px 20px;
  background-color: rgb(33, 117, 156);
  padding: 2%;
  color: white;
  margin-left: 0px;
}
.mySlides
{display:none;}